<h1>Adopt Pokemon</h1>

<form action="/adopt" method="post">
<p>
  <label>
    Select your name:
    <select name="trainerid">

     <% for trainer in @trainers %>
      <option value="<%=trainer.id%>"><%=trainer.name%></option>
    <% end %>
    </select>
  </label>
</p>  
<p>
  <label>
    Select the pokemon you wish to adopt:
    <select name="pokeid">

     <% for pokemon in @pokemon %>
      <option value="<%=pokemon.id%>"><%=pokemon.name%></option>
    <% end %>
    </select>
  </label>
</p>  
    <label>
  <input type="submit" value="Adopt!"/>
</form>
