<h1>Welcome to the Pokemon Daycare!</h1>
<p>We look after all kinds of Pokemon, with or without trainers.</p>
<p>Please consider adopting one of our Pokemon if you can look after it!</p>
<p>We will always keep Pokemon for 30 days before putting them up for adoption.</p>
<p>This ensures they are healthy and fighting fit!</p>

<audio src="/pokemon.mp3" autoplay="autoplay" loop="loop"></audio>