<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Daycare</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/pokemon">Our Pokemon</a>
      </li>
      <li>
        <a href="/trainer">Our Trainers</a>
      </li>
      <li>
        <a href="/trainer/new">Sign up as a Trainer</a>
      </li>
      <li>
        <a href="/pokemon/new">Enrol Pokemon</a>
      </li>
      <li>
        <a href="/adopt">Adopt a Pokemon</a>
      </li>
      <li>
        <a href="/hank">Forbidden</a>
      </li>
    </ul>
  </nav>
  <%=yield%>
</body>
</html>