<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Daycare</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <li>
      <p><a href="/">Home</a></p>
      <p><a href="/pokemon">Our Pokemon</a></p>
      <p><a href="/pokemon/new">Enrol Pokemon</a></p>
      </li>
    </ul>
  </nav>
  <%=yield%>
</body>
</html>