<p>Name: <%= @trainer.name %></p>
<p>Pokemon owned:</p>
<% for pokemon in @trainer.pokemon %>
<p><%= pokemon.name %><% if pokemon.picture != 'null' %><img src="<%=pokemon.picture%>" alt="Photo" style="width:40px;height:40px;">
</p>
<% end %>
<% end %>